@import "./colors.scss";

.loader {
    width: 100%;
    height: 100vh;
    background-color: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;

    img {
        animation: loadingImg 0.5s linear infinite alternate;
    }
}

@keyframes mouseScrollAnimation {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1.2);
    }
}